
VECTOR_NGINX_LOGS_BEARER_TOKEN=xxxx
VECTOR_NGINX_METRICS_BEARER_TOKEN=xxxx

VECTOR_CERTBOT_LOGS_BEARER_TOKEN=xxxx


VECTOR_DOCKER_METRICS_BEARER_TOKEN=xxxx
VECTOR_DOCKER_LOGS_BEARER_TOKEN=xxxx
VECTOR_RABBITMQ_METRICS_BEARER_TOKEN=xxxx
VECTOR_RABBITMQ_LOGS_BEARER_TOKEN=xxxx

VECTOR_REDIS_METRICS_BEARER_TOKEN=xxxx
VECTOR_REDIS_LOGS_BEARER_TOKEN=xxxx


VECTOR_SC_WORKER_LOGS_BEARER_TOKEN=xxxx
VECTOR_GO_SERVER_LOGS_BEARER_TOKEN=xxxx
VECTOR_GO_CRON_LOGS_BEARER_TOKEN=xxxx
VECTOR_GO_UPLOADAPI_LOGS_BEARER_TOKEN=xxxx



VECTOR_IMGPROXY_METRICS_BEARER_TOKEN=xxxx
VECTOR_IMGPROXY_LOGS_BEARER_TOKEN=xxxx

VECTOR_QDRANT_METRICS_BEARER_TOKEN=xxxx
VECTOR_QDRANT_LOGS_BEARER_TOKEN=xxxx




VECTOR_MISC_LOGS_BEARER_TOKEN=xxxx
