# Avoid log spam
TQDM_MININTEAL=10
TQDM_DISABLE=1

WORKER_TYPE="image"
# or "voiceover"
WORKER_NAME="myworker"

WEBHOOK_SIGNATURE="xxx"
DOWNLOAD_MODELS_ON_SETUP="0"

# If we are downloading models from HF, we need a token.
# For dev, you can be already logged in, you can comment it out and the logged in token will be used
#HUGGINGFACE_TOKEN="your hf token" 

# Don't set translator url if you don't have a translator
# TRANSLATOR_COG_URL="http://translator-cog.test/"

AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
S3_BUCKET_NAME_UPLOAD=stablecog
S3_ENDPOINT_URL=https://stablecog.s3.eu-north-1.amazonaws.com
S3_REGION=eu-north-1

MODELS="Luna Diffusion, BC8 Alpha"

# For some SD models. Oher models have it always on.
SKIP_SAFETY_CHECKER="1"

LOAD_TRANSLATOR="0"
LOAD_UPSCALER="1"
LOAD_OPENCLIP="1"
LOAD_IMG2IMG="1"
LOAD_IMPAINTING="1"
LOAD_REFINER="1"

# This is the Kandinsky models
LOAD_KANDINSKY_2_1="0"
LOAD_KANDINSKY_2_2="0"

# for Kandinsky models
LOAD_SAFETY_CHECKER="0"

# Use the piblic address
RABBITMQ_AMQP_URL="amqps://worker:xxx@dev.api.bc8.ai"
RABBITMQ_QUEUE_NAME=dev

# Only exposed on the docker network
CLIPAPI_HOST="0.0.0.0"
CLIPAPI_PORT="80"
CLIPAPI_AUTH_TOKEN="Bearer xxx"